{% include header.html %}

<div id="title" class="container">
  <div class="content">
    <h3>eRate Map</h3>
    <ul class="inline">
      <li><strong>View Schools for:</strong></li>
      <li><a href="#void" id="congrDist" class="sel-layer active">Congressional District</a></li>
      <li><a href="#void" id="cnty" class="sel-layer">County</a></li>
      <li><a href="#void" id="schoolDist" class="sel-layer">Unified School District</a></li>
    </ul>
  </div>
</div>

<div id="map-c" class="container">
  <div class="content">
    <div id="map"></div>
    <div class="data">
            
            <section class="sect-divider">
            <h5>State: <span id="stat-state">--</span></h5>
                <dl class="dl-stats dl-inline">
                    <dt>Geography Type</dt>
                    <dd><span id="stat-geography">----</span></dd>
                    <dt>Geography ID</dt>
                    <dd><span id="stat-geoID">----</span></dd>
                    <dt>Geography Description</dt>
                    <dd><span id="stat-geoDesc">----</span></dd>
                    
                </dl>
            </section>
            <section class="sect-divider">
                <h5>Schools</h5>
                <dl class="dl-stats dl-inline">
                    <dt>Total Schools in Geography</dt>
                    <dd><span id="stat-totSchools">----</span></dd>
                    <dt>Number of Schools with Fiber in Geography</dt>
                    <dd><span id="stat-fiber">----</span></dd>
                    <dt>% of Schools with Fiber in Geography</dt>
                    <dd><span id="stat-pctSchool">----</span></dd>
                </dl>
                
            </section>
        </div>
  </div>
</div>

<div class="container">
  <div class="content">
    <aside id="map-legend">
      <table class="table">
        <caption>% of Schools with Fiber</caption>
        <tfoot>
          <tr>
            <td colspan="3"><p class="caption">[table footer note]</p></td>
          </tr>
        </tfoot>
        <tbody>
          <tr>
            <th style="white-space: nowrap;"> &lt; 25%</th>
            <td><span style="background-color: #cce0d6"> </span></td>
          </tr>
          <tr>
            <th style="white-space: nowrap;">&ge; 25% and &lt; 50%</th>
            <td><span style="background-color: #99c1ad"> </span></td>
          </tr>
          <tr>
            <th style="white-space: nowrap;">&ge; 50% and &lt; 75%</th>
            <td><span style="background-color: #4c9370"> </span></td>
          </tr>
          <tr>
            <th style="white-space: nowrap;">&ge; 75%</th>
            <td><span style="background-color: #006633"> </span></td>
          </tr>
        </tbody>
      </table>
    </aside>
   <h5 id="map-hd">eRate Map</h5>
    <p id="map-desc">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem.</p>

    <hr>

    {{ content }}    
  </div>
</div>
<script src="http://code.jquery.com/jquery-1.10.2.min.js" type="application/javascript"></script>   
<script src="js/map.js"></script>

{% include footer.html %}