{% include header.html %}

<div id="content-main" class="container">
<section>
  
    <h2>E-Rate Map</h2>
    View Schools by:
    <ul class="list-layerSwitch list-unstyled list-inline">
      <li><a href="#void" id="congrDist" class="active">Congressional District</a></li>
      <li><a href="#void" id="cnty">County</a></li>
      <li><a href="#void" id="schoolDist">Unified School District</a></li>
    </ul>
    
    <div id="map"></div>
</section>
	
    <div class="row">            
        <section class="col-xs-6 col-sm-4 col-med-4">
            <h3>State: <span id="stat-state">--</span></h3>
                <dl class="dl-stats">
                    <dt>Geography Type</dt>
                    <dd><span id="stat-geography">----</span></dd>
                    <dt>Geography ID</dt>
                    <dd><span id="stat-geoID">----</span></dd>
                    <dt>Geography Description</dt>
                    <dd><span id="stat-geoDesc">----</span></dd>
                    
                </dl>
        </section>
        <section class="col-xs-6 col-sm-4 col-med-4">
            <h3>Schools</h3>
            <dl class="dl-stats dl-inline">
                <dt>Total Schools in Geography</dt>
                <dd><span id="stat-totSchools">----</span></dd>
                <dt>Number of Schools with Fiber in Geography</dt>
                <dd><span id="stat-fiber">----</span></dd>
                <dt>% of Schools with Fiber in Geography</dt>
                <dd><span id="stat-pctSchool">----</span></dd>
            </dl>
        </section>
        
        <div class="col-xs-12 col-sm-4 col-med-4">
        	<table class="map-legend table">
		        <caption>% of Schools with Fiber</caption>
		        <tbody>
		          <tr>
		            <th style="white-space: nowrap;"> &lt; 25%</th>
		            <td><span style="background-color: #cce0d6"> </span></td>
		          </tr>
		          <tr>
		            <th style="white-space: nowrap;">&ge; 25% and &lt; 50%</th>
		            <td><span style="background-color: #99c1ad"> </span></td>
		          </tr>
		          <tr>
		            <th style="white-space: nowrap;">&ge; 50% and &lt; 75%</th>
		            <td><span style="background-color: #4c9370"> </span></td>
		          </tr>
		          <tr>
		            <th style="white-space: nowrap;">&ge; 75%</th>
		            <td><span style="background-color: #006633"> </span></td>
		          </tr>
		        </tbody>
		      </table>
      	</div>
        
    </div>
    

{{ content }} 



</div>


<script src="http://code.jquery.com/jquery-1.10.2.min.js" type="application/javascript"></script>   
<script src="js/map.js"></script>

{% include footer.html %}