{% include header.html %}
<div id="content-main" class="container">
    <section>
        <h2>E-Rate Map</h2>
        <div class="map-box">
            <div id="map"></div>
            <!--
            <div class="map-footer"> View Schools by:
                <ul class="list-layerSwitch list-unstyled list-inline">
                    <li><a href="#desc-congrDist" id="congrDist" class="active">Congressional District</a></li>
                    <li><a href="#desc-cnty" id="cnty">County</a></li>
                    <li><a href="#desc-schoolDist" id="schoolDist">Unified School District</a></li>
                </ul>
                <p class="help-block">Click to display results.</p>
            </div>
            -->
        </div>
    </section>
    <div class="row">
        <section class="col-xs-6 col-sm-4 col-med-4">
            <dl class="dl-stats">                
                <!--<dt>State:</dt>
                <dd><span id="stat-state">----</span></dd>-->
                <dt>Geography Description</dt>
                <dd><span id="stat-geoDesc">----</span></dd>
                <!--
                <dt>FIPS Code</dt>
                <dd><span id="stat-geoID">----</span></dd>
                -->
                <dt>Total Students in School District</dt>
                <dd><span id="stat-totStudents">----</span></dd>
            </dl>
        </section>
        <section class="col-xs-6 col-sm-4 col-med-4">
            
            <dl class="dl-stats dl-inline">
                
                <dt>% of Schools with Fiber Access</dt>
                <dd><span id="stat-pctFiberTrue">----</span></dd>
                <dt>% of Schools without Fiber Access</dt>
                <dd><span id="stat-pctFiberFalse">----</span></dd>
                <dt>% of Schools not reporting Fiber Access</dt>
                <dd><span id="stat-pctFiberNull">----</span></dd>
            </dl>
        </section>
        <div class="col-xs-12 col-sm-4 col-med-4">
            <table class="map-legend table">
                <caption>
                % of Schools with Fiber
                </caption>
                <tbody>
                    <tr>
                        <th>Mostly Connected (> 50% Fiber)</th>
                        <td><span style="background-color: #aeba88"> </span></td>
                    </tr>
                    <tr>
                        <th>Mostly Unconnected (< 50% Fiber)</th>
                        <td><span style="background-color: #8da5c0"> </span></td>
                    </tr>
                    <tr>
                        <th>Mostly Unknown (Not Enough Data)</th>
                        <td><span style="background-color: #b1b1b1"> </span></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    {{ content }} 
</div>
{% include footer.html %}